.profile__initial_edit{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid white;
    margin-left: 17px;
    position: relative;
    margin-top: 40px;
}
.profile__initial_edit::before{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../images/pansel.png);
    position: absolute;
    content: '';
}
@media screen and (max-width: 999px){
    .profile__initial_edit{
        width: 18px;
        height: 18px;   
    }
}
:hover.profile__initial_edit{
    opacity: 0.5;
    cursor: pointer;
}