
.elements__like{
    width: 21px;
    height: 19px;
    align-self: center;
    background-color: transparent;
    border: none;
    background-image: url('../../../images/like.svg');
    background-size: cover;
    opacity: 1;
    transition: opacity 2s;
}
.elements__like:hover{
    opacity: 0.7;
    cursor: pointer;
}