.profile__button{
    width: 150px;
    align-self: center;
    height: 50px;
    position: relative;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}
.profile__button::before{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/plus.svg);
    position: absolute;
    content: '';
}
@media screen and (max-width: 999px){
    .profile__button{
        margin-top: 36px;
        width: 90%;
    }
}

:hover.profile__button{
    opacity: 0.5;
    cursor: pointer;
}